 <form action="/create" method="POST">
    <h2>Create todo</h2>

    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="name" min="2" max="15" required >
            <label>Name</label>
        </div>
        <p id="validName"></p>
    </div>
        
    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="description" min="3" max="30" required >
            <label>Description</label>
        </div>
    </div>
    <button type="submit" button class="btn">Create</button>

</form>
