<form action="/update" method="POST">
    <h2>Update todos</h2>
    <div class="row">
        <div class="input-field col s12">
            <input type="number" name="id" min="1" max="999" required></input>
            <label>Id todo for update</label>
        </div>
        <div class="input-field col s12">
            <input type="text" name="name" min="2" max="15" required></input>
            <label>New name for todo</label>
        </div>
        <div class="input-field col s12">
            <input type="text" name="descrition" min="3" max="30" required></input>
            <label>New descrition for todo</label>
        </div>
    </div>
    <button type="submit" class="btn">Update</button>
</form>